{% extends 'base.html' %}
{% block content %}
<div class="row p-3 text-justify">
    <div class="col-md-12">
        <h1>Contact Us</h1>
        <hr/>
    </div>
</div>
<div class="contactform row p-3 text-justify">
    <div class="col-md-6">
        <form>
            <input class="form-control" type="text" name="uname" placeholder="Name" /><br>
            <input class="form-control" type="email" name="email" placeholder="email" /><br>
            <input class="form-control" type="tel" name="phone_no" placeholder="Phone_no" /><br>
            <textarea class="form-control" placeholder="MSG"></textarea><br>
            <button class="btn btn-dark btn-block" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
<p>
    <strong><span class="fa fa-map-marker mx-2" /></strong>Street # 3 Near MDA Guest house Noor alam colony pul braran road MDA chowk, Multan Pakistan<br/><br/>
    <strong><span class="fa fa-phone mx-2" /></strong>999320339xxxx<br/><br/>
    <strong><span class="fa fa-fax mx-2" /></strong>999320339xxxx<br/><br/>
    <strong><span class="fa fa-globe mx-2" /></strong>http://www.socialbook.com<br/><br/>
</p>
         </div>
    </div>

<div class="row p-4">
    <div class="embed-responsive embed-responsive-16by9 col-sm-8 offset-sm-2">
    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13791.771651187508!2d71.44372908734128!3d30.210176749087633!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7890eb7e09c8470!2sMultan%20Development%20Authority%20(MDA)!5e0!3m2!1sen!2s!4v1578154591347!5m2!1sen!2s" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    </div>
{% endblock %}