{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="row p-3">

    <div class="col-md-6 offset-md-3">

            <div class="row text-justify">
                <div class="col-md-12">
                    <h1>Are u Sure?</h1>
                    <hr/>
                </div>
            </div>

        <form enctype="multipart/form-data" method="post">
        {% csrf_token %} {{ form | crispy }}<br/>
            <div class="confirmdelete">
                <input class="btn btn-danger btn-lg"  type="submit" value="Delete"/>
                <a class="btn btn-primary btn-lg" href="/social/mypost">Cancel</a>
                <br/><br/>
            </div>
        </form>

    </div>

</div>
{% endblock %}